
@{
    ViewBag.Title = "Home";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="text-center">Painel Administrativo</h2>
    </div>
    <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit tempus magna, maximus cursus erat iaculis sit amet. Donec eget odio vel mi lacinia tincidunt pellentesque quis est. Sed vitae massa libero. Mauris interdum arcu ligula, et condimentum nulla mattis non. Ut ultricies nisi in leo pulvinar, nec vulputate metus fringilla. Aenean elementum sem quam, eu malesuada odio condimentum quis. Donec felis libero, congue in cursus sed, ultrices sed nisi. Curabitur id nulla ut risus pretium malesuada. Cras quis libero pellentesque, tempor risus sit amet, finibus risus. Vestibulum placerat finibus luctus. Nam pretium felis augue. Maecenas bibendum lorem vitae bibendum finibus. Fusce congue erat eu feugiat feugiat.</p>
    </div>
</div>

