
@{
    ViewBag.Title = "Index";
}



<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading" style="display: flex; justify-content: space-between; align-items: center;">
        <h2>Lista de consultores</h2>
        @Html.ActionLink("Novo Consultor", "Register", "Account", new { area = "" }, new { @class = "btn btn-default", @role = "button" })
    </div>

    <!-- Table -->
    <table class="table">
    </table>
</div>