@model IEnumerable<TreinamentoAspNet02.Entity.AspNetUsers>
@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin: auto">
    @foreach (var consultor in Model)
    {
        <div class="col-md-3 bg-info" style="min-height: 200px; margin: 10px">
            @*<div class="img" style="width: 100px">
                <img src="~/Images/Perfil/@consultor.FotoPerfil" class="img-responsive" />
            </div>*@
            <h2>@consultor.Nome</h2>
            <a href="@Url.Action("Chat", new { id = consultor.Id })" class="btn btn-default">Iniciar conversa</a>
        </div>
    }
</div>