@model IEnumerable<TreinamentoAspNet02.Entity.AspNetUsers>
@{
    ViewBag.Title = "Página Inicial";
}

<h2>Consultores online:</h2>

<div class="row" id="listagem" style="margin: auto"></div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {

            var chat = $.connection.chatHub;

            chat.client.gerarListagem = function (connectedUsers) {
                if (connectedUsers.length > 0) {
                    listarConsultores(connectedUsers)
                } else {
                    $('#listagem').html("Não há consultores online no momento.");
                }
            }

            chat.client.statusConsultor = function (idConsultor, status) {
                if (status) {
                    console.log(`Consultor Id[${idConsultor}] está ocupado.`)

                    $(".cardConsultor").each(function () {
                        if ($(this).attr("id") == `div_${idConsultor}`) {
                            var pStatus = $(this).find(".pStatus");
                            pStatus.removeClass("label-success");
                            pStatus.addClass("label-danger");
                            pStatus.html("Ocupado");

                            $(this).find("a").remove();
                        }
                    });
                } else {
                    console.log(`Consultor Id[${idConsultor}] está disponivel.`)
                    $(".cardConsultor").each(function () {
                        if ($(this).attr("id") == `div_${idConsultor}`) {
                            var pStatus = $(this).find(".pStatus");
                            pStatus.removeClass("label-danger");
                            pStatus.addClass("label-success");
                            pStatus.html("Disponível");

                            $(this).append(criarLinkFicha(idConsultor));
                        }
                    });
                }
            }

            $.connection.hub.start().done(function () {
                chat.server.iniciarListagem();
            })

            function listarConsultores(connectedUsers) {
                connectedUsers = JSON.stringify({ 'connectedUsers': connectedUsers })
                $.ajax({
                    url: "/Home/Conectados",
                    type: "POST",
                    data: connectedUsers,
                    contentType: "application/json; charset=utf-8",
                    dataType: "JSON",
                    success: function (data) {
                        console.log(data)
                        var listagem = $("#listagem");
                        listagem.empty();
                        for (i = 0; i < data.length; i++) {
                            var div = $("<div />", {
                                class: "col-md-3 cardConsultor",
                                id: `div_${data[i].Id}`,
                                style: "min-height: 200px; margin: 10px 10px 10px 0; padding: 20px;"
                            });

                            var id = $("<input />", {
                                type: "hidden",
                                id: "idConsultor",
                                value: data[i].Id
                            });

                            var status = $("<p />", {
                                class: (data[i].Ocupado ? "label label-danger" : "label label-success") + " text-uppercase pStatus",
                                style: "font-size: 1em;"
                            }).html((data[i].Ocupado ? "Ocupado" : "Disponível"))

                            var divFoto = $("<div />", {
                                class: "divPerfil"
                            })
                            var fotoPerfil = $("<img />", {
                                src: "/Images/Perfil/" + (data[i].FotoPerfil ? data[i].FotoPerfil : "semfoto.jpg"),
                                class: "fotoPerfil"
                            })
                            divFoto.append(fotoPerfil);

                            var nome = $("<h2 />").html(data[i].Nome);

                            div.append(id);
                            div.append(status);
                            div.append(divFoto);
                            div.append(nome);

                            if (!data[i].Ocupado) {
                                var linkFicha = criarLinkFicha(data[i].Id);
                                div.append(linkFicha);
                            }

                            listagem.append(div);

                        }
                    },
                    error: function (data) {
                        console.log("Error");
                        console.log(data);
                    }
                });

            }
        })

        function criarLinkFicha(idConsultor) {
            return $("<a />", {
                href: `/Visitante/Create?consultorId=${idConsultor}`,
                title: "Iníciar atendimento com este consultor",
                class: "btn btn-lg btn-default btnFicha",
                style: "margin-top: 10px"
            }).html("Solicitar atendimento");
        }

    </script>
}
