@using Microsoft.AspNet.Identity
@using TreinamentoAspNet02.App_Start
@{
    ViewBag.Title = "Área dos consultores";
}
<link href="~/Content/Consultor.css" rel="stylesheet" />

<h2 class="text-center h3 text-uppercase" style="margin: 30px;">Bem vindo <span class="text-consultor">@User.Identity.GetName()</span>!</h2>

<div class="well well-lg bg-consultor">
    <div class="flex-row-reverse">
        <label class="switch ">
            <input type="checkbox" class="primary" id="ckStatus">
            <span class="slider round"></span>
        </label>
        <div>
            <p>Status: <span class="text-uppercase h4 text-danger" id="pStatus">Ocupado</span></p>
        </div>
    </div>
    <div id="areaChat">

        @* Ocupado *@
        <div class="panel panel-primary" id="areaOcupado">
            <div class="panel-body">
                <h3 class="text-consultor">Aviso</h3>
                <hr />
                <p>Você não pode iniciar nenhum atendimento quando está <span class="text-danger">OCUPADO</span>, clique no botão no canto superior direito para ficar <span class="text-center">DISPONÍVEL</span> para novos atendimentos.</p>
            </div>
        </div>

        @* Disponível *@
        <div class="hidden" id="areaDisponivel">
            <div class="well well-lg bg-mensagens flex-column-reverse">
                <div id="avisos"></div>
                <div id="mensagens" style="overflow-y: scroll"></div>
            </div>

            <div class="flex">
                <input type="text" class="col-lg-10 input-message" id="message">
                <input type="button" class="btn btn-default" id="send" value="Enviar" />
            </div>
        </div>
    </div>
</div>

<input type="hidden" class="col-lg-12 text-primary" id="idConsultor" value="@User.Identity.GetUserId()" readonly />
<input type="hidden" id="nomeConsultor" value="@User.Identity.GetName()" />
@*<div class="form-group col-xl-12">

        <label class="control-label">Your Message</label><br />
        <input type="text" class="col-lg-10 text-primary" id="message">&nbsp;&nbsp;&nbsp;&nbsp;

        <input type="button" class="btn btn-primary" id="sendmessage" value="Send" /><br /><br />
        <div class="container chatArea">
            <input type="hidden" id="displayname" />
            <ul id="discussion"></ul>
        </div>
    </div>
    <br>*@

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var chat = $.connection.chatHub;
            var idAtendimento = null;

            chat.client.aviso = function () {
                var aviso = $("<div />", {
                    class: "alert alert-warning",
                    role: "alert"
                }).html("Agora você está <strong>DÍSPONIVEL</strong> para novos atendimentos. Mude seu Status para <strong>OCUPADO</strong> caso queira parar de receber novos atendimentos.");
                $("#avisos").append(aviso);
            }

            chat.client.addNewMessageToPage = function (name, message) {
                $('#mensagens').append('<li><strong>' + htmlEncode(name) + '</strong>: ' + htmlEncode(message) + '</li>');
            };

            chat.client.novoAtendimento = function (id, name) {
                idAtendimento = id;

                var aviso = $("<div />", {
                    class: "alert alert-info",
                    role: "alert"
                }).html(`<em>#${htmlEncode(id)}</em> - <strong>${htmlEncode(name)}</strong> iníciou um novo atendimento com você.`);

                $("#avisos").empty();
                $('#avisos').append(aviso);
            };

            chat.client.errorMessage = function () {
                alert("Você já está conectado")
            };

            $('#message').focus();
            $('#message').keypress(function (e) {
                if (e.which == 13) {//Enter key pressed
                    $('#send').trigger('click');//Trigger search button click event
                }
            });

            $.connection.hub.start().done(function () {
                var idConsultor = $('#idConsultor').val();
                var nomeConsultor = $('#nomeConsultor').val();

                getStatus();
                chat.server.connect("@User.Identity.Name", true, 0);

                $("#ckStatus").click(function () {
                    if ($(this).is(":checked")) {
                        trocarStatus();
                        atualizarHTML("text-danger", "text-success", "Disponível", "#areaOcupado", "#areaDisponivel");
                        chat.server.joinRoom(idConsultor, nomeConsultor);
                        chat.server.status(idConsultor, false);
                    } else {
                        trocarStatus();
                        atualizarHTML("text-success", "text-danger", "Ocupado", "#areaDisponivel", "#areaOcupado");
                        chat.server.status(idConsultor, true);
                    }
                });

                $('#send').click(function () {
                    chat.server.send(nomeConsultor, $('#message').val(), idConsultor);
                    chat.server.storeMessage($('#message').val(), idConsultor, 0, idAtendimento);

                    $('#message').val('').focus();
                    var target = $('#mensagens');
                    target.animate({
                        scrollTop: target.height()
                    }, 500);
                });

            });
        });

        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }

        function getStatus() {
            $.ajax({
                url: "/Consultor/Home/GetStatus",
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                    if (data) {
                        if ($("#ckStatus").is(":checked")) $("#ckStatus").prop("checked", false);
                        atualizarHTML("text-success", "text-danger", "Ocupado", "#areaDisponivel", "#areaOcupado");
                    } else {
                        if (!$("#ckStatus").is(":checked")) $("#ckStatus").prop("checked", true);
                        atualizarHTML("text-danger", "text-success", "Disponível", "#areaOcupado", "#areaDisponivel");
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            })
        }

        function trocarStatus() {
            $.ajax({ url: "/Consultor/Home/TrocarStatus" })
        }

        function atualizarHTML(remover, adicionar, status, areaRemover, areaAdicionar) {
             var pStatus = $("#pStatus");
            pStatus.removeClass(remover);
            pStatus.addClass(adicionar);
            pStatus.html(status);

            $("#areaChat").find(areaAdicionar).removeClass("hidden");
            $("#areaChat").find(areaRemover).addClass("hidden");
        }
    </script>
}
