@using Microsoft.AspNet.Identity
@using TreinamentoAspNet02.App_Start
@{
    ViewBag.Title = "Área dos consultores";
}
<link href="~/Content/Chat.css" rel="stylesheet" />
<link href="~/Content/Consultor.css" rel="stylesheet" />
<link href="~/Content/sweetalert.css" rel="stylesheet" />

<h2 class="text-center h3 text-uppercase" style="margin: 30px;">Bem vindo <span class="text-consultor">@User.Identity.GetName()</span>!</h2>

<div class="well well-lg bg-consultor">
    <div class="flex-row-reverse">
        <label class="switch ">
            <input type="checkbox" class="primary" id="ckStatus">
            <span class="slider round"></span>
        </label>
        <div>
            <p>Status: <span class="text-uppercase h4 text-danger" id="pStatus">Ocupado</span></p>
        </div>
    </div>
    <div id="areaChat">

        @* Ocupado *@
        <div class="panel panel-primary" id="areaOcupado">
            <div class="panel-body">
                <h3 class="text-consultor">Aviso</h3>
                <hr />
                <p>Você não pode iniciar nenhum atendimento quando está <span class="text-danger">OCUPADO</span>, clique no botão no canto superior direito para ficar <span class="text-center">DISPONÍVEL</span> para novos atendimentos.</p>
            </div>
        </div>

        @* Disponível *@
        <div class="hidden" id="areaDisponivel">
            <div id="numberCountdown" class="flex-duracao"></div>
            <div class="well well-lg bg-mensagens flex-column-reverse">
                <div id="avisos"></div>
                <div id="mensagens" style="overflow-y: scroll"></div>
            </div>

            <div class="flex">
                <input type="text" class="col-lg-10 input-message" id="message">
                <input type="button" class="btn btn-default" id="send" value="Enviar" />
            </div>
        </div>
    </div>
</div>

<input type="hidden" class="col-lg-12 text-primary" id="idConsultor" value="@User.Identity.GetUserId()" readonly />
<input type="hidden" id="nomeConsultor" value="@User.Identity.GetName()" />

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var chat = $.connection.chatHub;
            var idAtendimento;
            var idConsultor = $("#idConsultor").val();
            var nomeConsultor = $("#nomeConsultor").val();

            clientsMethods(chat);

            $.connection.hub.start().done(function () {
                getStatus();
                chat.server.connect("@User.Identity.Name", true, 0);

                $("#ckStatus").click(function () {
                    if ($(this).is(":checked")) {
                        trocarStatus();
                        atualizarHTML("text-danger", "text-success", "Disponível", "#areaOcupado", "#areaDisponivel");
                        chat.server.joinRoom(idConsultor, nomeConsultor, true);
                        chat.server.status(idConsultor, false);
                    } else {
                        trocarStatus();
                        atualizarHTML("text-success", "text-danger", "Ocupado", "#areaDisponivel", "#areaOcupado");
                        chat.server.status(idConsultor, true);
                    }
                });

                $('#send').click(function () {
                    chat.server.send(nomeConsultor, $('#message').val(), idConsultor);
                    chat.server.storeMessage($('#message').val(), idConsultor, 0, idAtendimento);

                    $('#message').val('').focus();
                    var target = $('#mensagens');
                    target.animate({
                        scrollTop: target.height()
                    }, 500);
                });

            });

            $('#message').focus();
            $('#message').keypress(function (e) {
                if (e.which == 13) {//Enter key pressed
                    $('#send').trigger('click');//Trigger search button click event
                }
            });

        });

        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }

        // Métodos do cliente
        function clientsMethods(chat) {

            chat.client.aviso = function () {
                $("#avisos").empty();
                var aviso = $("<div />", {
                    class: "alert alert-warning",
                    role: "alert"
                }).html("Agora você está <strong>DÍSPONIVEL</strong> para novos atendimentos. Mude seu Status para <strong>OCUPADO</strong> caso queira parar de receber novos atendimentos.");
                $("#avisos").append(aviso);
            }

            chat.client.addNewMessageToPage = function (name, message) {
                $('#mensagens').append('<li><strong>' + htmlEncode(name) + '</strong>: ' + htmlEncode(message) + '</li>');
            };

            chat.client.novoAtendimento = function (id, name) {
                idAtendimento = id;

                var aviso = $("<div />", {
                    class: "alert alert-info",
                    role: "alert"
                }).html(`<em>Atendimento #${htmlEncode(id)}</em> - <strong>${htmlEncode(name)}</strong> iníciou um novo atendimento com você.`);

                $("#avisos").empty();
                $('#avisos').append(aviso);
            };

            chat.client.atendimentoEncerrado = function (id) {
                var aviso = $("<div />", {
                    class: "alert alert-danger",
                    role: "alert"
                }).html(`<em>Atendimento #${htmlEncode(id)}</em> foi encerrado.`);

                $("#avisos").empty();
                $('#avisos').append(aviso);
            };

            chat.client.errorMessage = function () {
                let timeInterval
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    html: 'Parece que você se conectou em outro lugar! Você será redirecionado para outra página em <b></b> segundos.',
                    footer: '<small>Você só pode se conectar uma vez ao Chat.</small>',
                    timer: 3000,
                    allowOutsideClick: false,
                    showConfirmButton: false,
                    onBeforeOpen: () => {
                        timerInterval = setInterval(() => {
                            const content = Swal.getContent()
                            if (content) {
                                const b = content.querySelector('b')
                                if (b) {
                                    b.textContent = (Swal.getTimerLeft() / 1000).toFixed(0)
                                }
                            }
                        }, 100)
                    }
                }).then((result) => {
                    if (result.dismiss == Swal.DismissReason.timer) {
                        window.location.replace("/");
                    }
                });
            };

            chat.client.timer = function (tempoRestante) {

                dateObj = new Date(tempoRestante * 1000);
                minutes = dateObj.getUTCMinutes();
                seconds = dateObj.getSeconds();

                numberCountdown.innerText = minutes.toString().padStart(2, '0') + ':' + seconds.toString().padStart(2, '0');
            }
        }

        function getStatus() {
            $.ajax({
                url: "/Consultor/Home/GetStatus",
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                    if (data.ConsultorOcupado) {
                        if (!data.AtendimentoEncerrado) {
                            if (!$("#ckStatus").is(":checked")) $("#ckStatus").prop("checked", true);
                            atualizarHTML("text-danger", "text-success", "Disponível", "#areaOcupado", "#areaDisponivel");
                            carregarMensagens(data.IdAtendimento);
                        } else {
                            if ($("#ckStatus").is(":checked")) $("#ckStatus").prop("checked", false);
                            atualizarHTML("text-success", "text-danger", "Ocupado", "#areaDisponivel", "#areaOcupado");
                        }
                    } else {
                        if (!$("#ckStatus").is(":checked")) $("#ckStatus").prop("checked", true);
                        atualizarHTML("text-danger", "text-success", "Disponível", "#areaOcupado", "#areaDisponivel");
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            })
        }

        function trocarStatus() {
            $.ajax({ url: "/Consultor/Home/TrocarStatus" })
        }

        function atualizarHTML(remover, adicionar, status, areaRemover, areaAdicionar) {
             var pStatus = $("#pStatus");
            pStatus.removeClass(remover);
            pStatus.addClass(adicionar);
            pStatus.html(status);

            $("#areaChat").find(areaAdicionar).removeClass("hidden");
            $("#areaChat").find(areaRemover).addClass("hidden");
        }

        // Só será executado caso o atendimento ainda não foi encerrado
        function carregarMensagens(idAtendimento) {
            idAtendimento = JSON.stringify({ 'idAtendimento': idAtendimento })
            $.ajax({
                url: "/Consultor/Home/GetMensagens",
                type: "POST",
                data: idAtendimento,
                contentType: "application/json; charset=utf-8",
                dataType: "JSON",
                success: function (data) {
                    for (i = 0; i < data.length; i++) {
                        console.log(data);
                    }
                },
                error: function (error) {
                    console.log(error);
                } 
            })
        }
    </script>
}
